newsprojectenv/
.venv/
*.env
__pycache__/
*.pyc
# Airflow runtime files
airflow.cfg
airflow.db
webserver_config.py
logs/
airflow-*/
*.pid
airflow.db-shm
airflow.db-wal
simple_auth_manager_passwords.json.generated